<div class="container">
  <h4 class="head-line title_h2 text-left mt-3">商品編集</h4>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-8 mx-auto mt-5">
        <%= form_with model: @item, url: admin_item_path(@item), method: :patch, local:true do |f| %>
        <div class="form-group row">
          <%= f.label :商品画像, class: 'col-sm-3 control-label' %><br />
          <%= f.file_field :image, class: 'image' %>
        </div>

        <div class="form-group row">
          <%= f.label :商品名, class: 'col-sm-3 control-label' %><br />
          <%= f.text_field :name, :placeholder => "4種のフルーツタルト", class: 'rounded col-sm-5' %>
        </div>

        <div class="form-group row">
          <%= f.label :商品説明, class: 'col-sm-3 control-label' %><br />
          <%= f.text_area :description, :placeholder => "さっぱりした味わいを楽しめます！", class: 'rounded col-sm-5' %>
        </div>

        <div class="form-group row">
          <%= f.label :ジャンル, class: 'col-sm-3 control-label' %><br />
          <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %>
        </div>

        <div class="form-group row">
          <%= f.label :税抜価格, class: 'col-sm-3 control-label' %><br />
          <%= f.text_field :no_tax, :placeholder => "1000", class: 'rounded col-sm-5' %>
        </div>

        <div class="form-group row">
          <%= f.label :販売ステータス, class: 'col-sm-3 control-label' %><br />
          <%= f.radio_button :is_active, :true %>
          <%= f.label :is_active, "販売中", class: "col-sm-2" %>
          <%= f.radio_button :is_active, :false %>
          <%= f.label :is_active, "販売停止中", class: "col-sm-3" %>
        </div>

        <div class="actions">
          <%= f.submit "変更を保存",class: "btn btn-success btn-lg col-sm-3 mx-auto d-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>