<h2>商品詳細</h2>
<div>
</div>
<div>
  <table>
    <tr>
      <th>商品名</th>
      <th><%= @item.name %></th>
    </tr>
    <tr>
      <th>商品説明</th>
      <th><%= @item.description %></th>
    </tr>
    <tr>
      <th>ジャンル</th>
      <th><%= @item.genre.name %></th>
    </tr>
    <tr>
      <th>税込価格（税抜価格）</th>
      <th><%= @item.no_tax %></th>
    </tr>
    <tr>
      <th>販売ステータス</th>
      <th><% if @item.is_active == true %>
          販売中
          <% else %>
          売切れ
          <% end %>
      </th>
     </tr>
     <tr>
      <th><%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success" %></th>
    </tr>
  </table>
</div>