<div class="container">
  <div class="row">
    <h4 class="head-line title_h2 text-left mt-3 table-active">商品詳細</h4>
  </div>
  <div class="row">
    <div class="col-sm-10 d-flex justify-content-center mt-5">
      <div class="col-sm-4 ">
        <%= image_tag @item.image, :size => '300x250', accept: "image/*" %>
      </div>
      <div class="col-8">
        <table class="table table-borderless">
          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.description %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格（税抜価格）</td>
            <td>
              <%= ((@item.no_tax * 1.1).floor).to_s(:delimited) %>(<%= (@item.no_tax).to_s(:delimited) %>)円
            </td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <% if @item.is_active == true %>
                販売中
              <% else %>
                売切れ
              <% end %>
            </td>
          </tr>
          <tr class="text-center">
            <td><%= link_to "編集する", edit_admin_item_path(@item), class: "btn btn-success btn-lg mt-3" %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
