<div class="container">
  <div class="row">
      <h2 class="table-active col-3 text-center">新規会員登録</h2>
    <div class="col-sm-12 mt-5">
      <%= form_with model: @customer, url: customer_registration_path, method: :post,  local:true do |f| %>
        <%= render "admin/shared/error_messages", resource: resource %>

        <div class="form-group row">
          <%= f.label :名前, class: 'col-sm-2 control-label' %><br />
          <%= f.label :（姓）, class: 'col-sm-1' %>
          <%= f.text_field :first_name, autofocus: true, class: 'rounded col-sm-3' %>
          <%= f.label :（名）, class: 'col-sm-1' %>
          <%= f.text_field :last_name, class: 'rounded col-sm-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :フリガナ, class: 'col-sm-2 control-label' %><br />
          <%= f.label :（セイ）, class: 'col-sm-1' %>
          <%= f.text_field :first_name_kana, class: 'rounded  col-sm-3' %>
          <%= f.label :（メイ）, class: 'col-sm-1' %>
          <%= f.text_field :last_name_kana, class: 'rounded col-sm-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :メールアドレス, class: 'col-sm-3 control-label' %><br />
          <%= f.email_field :email, class: 'rounded col-sm-3' %>
        </div>


        <div class="form-group row">
          <%= f.label :郵便番号（ハイフンなし）, class: 'col-sm-3 control-label' %><br />
          <%= f.text_field :postcode, class: 'rounded col-sm-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :住所, class: 'col-sm-3 control-label' %><br />
          <%= f.text_field :address, class: 'rounded col-sm-7' %>
        </div>

        <div class="form-group row">
          <%= f.label :電話番号（ハイフンなし）, class: 'col-sm-3 control-label' %><br />
          <%= f.text_field :phone_number, class: 'rounded col-sm-3' %>
        </div>

        <div class="form-group row">
          <%= f.label :パスワード（6文字以上）, class: 'col-sm-3 control-label' %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "rounded col-sm-3 password" %>
        </div>

        <div class="form-group row">
          <%= f.label :パスワード（確認用）, class: 'col-sm-3 control-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded col-sm-3 password_confirm" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録",class: "btn btn-success col-sm-3 mx-auto d-block" %>
        </div>

      <% end %>
      <h4 class="table-active col-3 text-center">既に登録済みの方</h4>

      <%= link_to "こちら", new_customer_session_path %>
      <span> からログインしてください。</span>
    </div>
  </div>
</div>

