<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <img src="/assets/top_cake.jpg" alt="" width="1000" height="500">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>
  <p>新着商品</p>
  <div class="row">
    <% @items.each do |item| %>
      <div>
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.image, accept: "image/*", size:'150x100' %>
        <% end %>
        <%= item.name %>
        ¥<%= ((item.no_tax).floor).to_s(:delimited) %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= link_to '全ての商品をみる>',items_path %>
  </div>
</div>