<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="main-visual">
        <div class="introduction">
          <p>
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトになります<br>
            会員でない方も商品の閲覧はできますが<br>
            購入には会員登録が必要になります
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="fw-bold">新着商品</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <% @items.each do |item| %>
    <div class="col-3">
      <%= link_to item_path(item.id) do %>
        <div class ="card">
          <%= image_tag item.image, accept: "image/*", size:'150x100', class: "mt-3 ml-5" %>
          <div class="card-body text-dark">
            <div class="card-text"><%= item.name %></div>
            <div class="card-text">¥<%= ((item.no_tax).floor).to_s(:delimited) %></div>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    <div class="col text-right">
      <%= link_to '全ての商品を見る>',items_path %>
    </div>
  </div>
</div>
