<div class="container">
  <div class="row">
    <div class="col-10">
      <div class="bg-secondary text-light mt-3 col-4 text-center">
        <h4>注文情報入力</h4>
      </div>
    </div>
    <div class= "col-10  offset-1 mt-3">
      <h4 class="col-10 sub-head">支払方法</h4>
      <%= form_with model: @order, url: orders_confirm_path, method: :post, local:true do |f| %>
        <div class= "col-4 ml-5 radio">
          <%= f.radio_button :payment_method, :credit_card, chedked: true %>
          <%= f.label :payment_method_credit_card, 'クレジットカード' %><br>
        </div>
        <div class= "col-4 ml-5 radio">
          <%= f.radio_button :payment_method, :transfer %>
          <%= f.label :payment_method_tarnsfer, '銀行振込' %>
        </div>
          <h4 class="col-10 sub-head">お届け先</h4>
            <div class= "col-4 ml-5 radio">
            <%= f.radio_button :address_option, "0" %>
            <%= f.label :address_option, 'ご自身の住所' %><br>
              〒<%= "#{current_customer.postcode} #{current_customer.address}" %><br>
              <%= "#{current_customer.first_name} #{current_customer.last_name}" %><br>
            </div>
            <div class= "col-4 ml-5 radio">
              <%= f.radio_button :address_option, "1" %>
              <%= f.label :address_option, '登録済住所から選択' %><br>
              <%= f.collection_select(:address_id, current_customer.addresses.all, :id, :address_display)  %><br>
            </div>
            <div class= "col-10 ml-5 radio">
              <%= f.radio_button :address_option, "2" %>
              <%= f.label :address_option, '新しいお届け先' %>
                <table class= 'new_address' %>
                  <tr>
                  <div class =" form-group">
                    <td class= "form-group ml-4">
                      <%= f.label :郵便番号（ハイフンなし）, class: "col-4 control-label" %>
                      <%= f.text_field :postcode, class: "col-4" %>
                    </td>
                  </tr>
                  <tr>
                    <td class= "form-group col-4 ml-8 control-label">
                      <%= f.label :住所 %>
                      <%= f.text_field :address, class: "col-10" %>
                    </td>
                  </tr>
                  <tr>
                    <td class= "form-group col-4 ml-4">
                      <%= f.label :宛名 %>
                      <%= f.text_field :name %>
                    </td>
                  </tr>
                  </div>
                </table>
              </div>
              <div class= 'actions text-center'>
                <%= f.submit "確認画面へ進む",class: "btn btn-primary col-sm-2" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>


