<div class="container">
  <div class="row">
    <h4 class="table-active mt-3">注文履歴一覧</h4>
  </div>
  <div class="row">
  	<div class ="col-11">
  		<table class="table table-hover col-xs-10 mt-5">
  		  <thead class="table-active">
  		    <tr>
  		      <th class="col-xs-2">購入日時</th>
  	      	<th class="col-xs-3">購入者</th>
  		      <th class="col-xs-2">注文個数</th>
  		      <th class="col-xs-3">注文ステータス</th>
  		    </tr>
  		  </thead>

  		  <tbody>
  		    <% @orders.each do |order| %>
  		      <tr>
  		        <td class="col-xs-2">
  		          <%= link_to order.created_at.strftime("%Y/%m/%-d %H:%M:%S"),admin_order_path(order), class: "border-bottom text-dark" %>
  		        </td>
  		        <td class="col-xs-3">
  		          <%= order.customer.first_name+" "+order.customer.last_name %>
  		        </td>
  		        <td class="col-xs-2">
  		          <%= order.ordered_items.sum(:amount) %>
  		        </td>
      	        <td class="col-xs-3">
      	      	  <%= order.status_i18n %>
       	        </td>
       	      </tr>
  		    <% end %>
  		  </tbody>
  		</table>
  		<%= paginate @orders %>
  	</div>
  </div>
</div>