<div class="container">
  <div class="row">
    <h4 class="table-active">注文履歴詳細</h4>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-borderless">
        <tr>
          <th class="col-2">購入者</th>
          <td>
            <%= link_to admin_customer_path(@order.customer) do %>
            <%= @order.name %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>注文日</th>
          <td>
            <%= @order.created_at.strftime('%Y/%m/%d') %>
          </td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.postcode %><%= @order.address %><br/>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td>
            <%= @order.payment_method_i18n %>
          </td>
        </tr>
        <tr>
          <th>注文ステータス</th>
          <td>
            <%= form_with model: @order, url: admin_order_path(@order), method: :patch do |f| %>
            <%= f.select :status, Order.statuses_i18n.invert %>
            <%= f.submit "更新", class: "btn btn-success" %>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <table class="table table-borderless border-bottom">
        <thead>
          <tr class="table-active">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @ordered_items.each do |ordered_item| %>
          <tr>
            <td>
              <%= ordered_item.item.name %>
            </td>
            <td>
              <%= ordered_item.item.no_tax %>
            </td>
            <td>
              <%= ordered_item.amount %>
            </td>
            <td>
              <%= ((ordered_item.item.no_tax * 1.1 * ordered_item.amount).floor).to_s(:delimited) %>
            </td>
              <%= form_with model: ordered_item, url: admin_ordered_item_path(ordered_item), method: :patch do |f| %>
            <td>
              <%= f.select :making_status, OrderedItem.making_statuses_i18n.invert %>
            </td>
            <td>
              <%= f.submit "更新", class: "btn btn-success" %>
            </td>
              <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-3 ml-5">
      <table class="table table-borderless text-right">
        <tr>
          <th class="text-left">商品合計</th>
          <td><%=((@total_price).floor).to_s(:delimited) %>円</td>
        </tr>
        <tr>
          <th class="text-left">送料</th>
          <% @order.postage %>
          <td>800円</td>
        </tr>
        <tr>
          <th class="text-left">請求金額合計</th>
          <% @order.subtotal = @order.postage + @total_price.to_i %>
          <td><%= (@order.subtotal.floor).to_s(:delimited) %>円</td>
        </tr>
      </table>
    </div>
  </div>
</div>