<div class="container">
  <h4>商品一覧</h4>
  <p>（全<%= @items.count %>件）</p>

  <div class="row">
    <div class="col-sm-10 d-flex justify-content-sm-center align-items-center flex-wrap">
      <% @items.each do |item| %>
        <div class="col-sm-3">
          <%= link_to item_path(item.id) do %>
            <%= image_tag item.image, accept: "image/*", size:'200x150' %>
          <% end %><br/>
          <%= item.name %></br>
          ¥<%= item.no_tax %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @items %>
