<div class="container">
  <div class="row">
    <div class="col-lg-4 mt-3">
      <%= image_tag @item.image, accept: "image/*", size:'200x200' %>
    </div>
    <div class="col-lg-8 mt-3">
      <%= @item.name %>
      <%= @item.description %>
      <%= (@item.no_tax * 1.1).floor %>(税込)
      <%#= select_tag(options = *[1..5]) %>
      <%#= link_to 'カートに入れる', cart_items_path,　class: "btn btn-success" %>
      <%= form_with model: @cart_item, url: cart_items_path(@cart_item) do |f| %>
        <%= f.hidden_field :item_id  , :value => @item.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "カートに入れる", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
