<div class="container">
  <div class="row">
    <h3 class="table-active">ジャンル編集</h3>
    <%= render 'layouts/error', model: @genre %>
  </div>
  <%= form_with model: @genre, url: admin_genre_path, method: :patch, local:true do |f| %>
    <div class="form-inline">
      <%= f.label :ジャンル名, class: "form-control" %>
      <%= f.text_field :name, :placeholder => "ジャンル名", class: "form-control" %>
    </div>
    <div class="form_action row">
      <%= f.submit "変更を保存", class: "btn btn-success" %>
    </div>
  </div>
　<% end %>
</div>