<div class="container">
  <div class="row">
    <div class="col-auto">
      <h4 class="table-active">ジャンル編集</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= render 'layouts/error', model: @genre %>
      <%= form_with model: @genre, url: admin_genre_path, method: :patch, local:true do |f| %>
        <div class="form-inline">
          <%= f.label :ジャンル名, class: "col-3" %>
          <%= f.text_field :name, :placeholder => "ジャンル名", class: "form-control col-4 mr-3" %>
          <%= f.submit "変更を保存", class: "btn btn-success col-2 ml-5" %>
        </div>
      <% end %>
    </div>
  </div>
</div>