<table class="table">
  <thead class="thead-light">
      <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
      </tr>
  </thead>

  <tbody>
    <% addresses.each do |address| %>
      <tr>
        <td>
          <%= address.postcode %>
        </td>
        <td>
          <%= address.address %>
        </td>
        <td>
          <%= address.name %>
        </td>
        <td>
          <%= link_to "編集する",edit_address_path(address) %>
        </td>
        <td>
          <%= link_to "削除する",address_path(address), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>