<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="mt-3 col-4 text-center">
      <h4 class="table-active col-auto">ショッピングカート</h4>
      </div>
    <div class="col-md-12 mb-12 text-right">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
    </div>
      <table class="table table-hover table-bordered col-xs-10">
        <thead>
          <tr class="info", style="background-color: grey;">
            <th class="col-xs-3">商品名</th>
            <th class="col-xs-2">単価（税込み）</th>
            <th class="col-xs-1">数量</th>
            <th class="col-xs-1">小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr>
            <td class="col-xs-3"><%= image_tag cart_item.item.image, :size => '50x50' %><%= cart_item.item.name %></td>
            <td class="col-xs-2"><%= ((cart_item.item.no_tax * 1.1).floor).to_s(:delimited) %></td>
            <td class="col-xs-1">
              <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local:true do |f| %>
                <p>
                  <%= f.select :amount, *[1..100] %>
                  <%= f.submit "変更", class: "btn btn-primary" %>
                </p>
                <% end %>
            </td>
            <td  class="col-xs-1">
              <%= ((cart_item.item.no_tax * cart_item.amount * 1.1).floor).to_s(:delimited) %>
            </td>
            <td class="col-xs-1">
              <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <table class="table table-hover table-bordered">
      <tr>
        <div class=" col-4 text-right ">
          <td>合計金額</td>
          <td><%= ((@total_price).floor).to_s(:delimited) %></td>
        </div>
      </tr>
    </table>
    <div class="col-xs-8">
      <span>
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
      </span>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <span>
        <% if @cart_items.any? %>
          <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success"%>
        <% else %>
          カートが空です
        <% end %>
      </span>
    </div>
  </div>
</div>