<div class="container">
  <div class="row">
    <div class="col-sm-12 mt-4">
      <h4>ショッピングカート</h4>
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger float-right mb-3" %>
      <table class="table table-bordered col-sm-12">
        <thead>
          <tr class="info">
            <th style="width: 40%">商品名</th>
            <th style="width: 15%">単価（税込）</th>
            <th style="width: 15%">数量</th>
            <th style="width: 15%">小計</th>
            <th style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= image_tag cart_item.item.image, :size => '90x50', class: "mr-4" %><%= cart_item.item.name %></td>
              <td><%= ((cart_item.item.no_tax * 1.1).floor).to_s(:delimited) %></td>
              <td class="">
                <%= form_with model: cart_item, url: cart_item_path(cart_item), method: :patch, local:true do |f| %>
                  <div class="select_design">
                    <%= f.select :amount, *[1..50] %>
                  </div>
                  <%= f.submit "変更", class: "cart-item-bn btn btn-success" %>
                <% end %>
              </td>
              <td>
                <%= ((cart_item.item.no_tax * cart_item.amount * 1.1).floor).to_s(:delimited) %>
              </td>
              <td>
                <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger ml-4" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary mt-4 ml-4" %>
      <table class="table table-bordered col-sm-4 float-right mt-3 ml-5">
        <tr>
          <td>合計金額</td>
          <td><%= ((@total_price).floor).to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-12 text-center mt-4">
      <% if @cart_items.any? %>
        <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success btn-lg col-sm-2" %>
      <% else %>
        カートが空です
      <% end %>
    </div>
  </div>
</div>