<header>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom border border-secondary">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/assets/GRATIN.png" alt="" width="100" height="100">
      </a>
      <nav>
        <div class="float-right">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex align-items-right">
              <% if customer_signed_in? %>
                <p id="customer_name", class='justify-content-center'>ようこそ、<%= current_customer.first_name %>さん！</p>
                <li class="nav-item mr-3">
                  <%= link_to 'マイページ', customer_path(current_customer), class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to '商品一覧', items_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to 'カート', cart_items_path , class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>

              <% elsif admin_signed_in? %>
                <li class="nav-item mr-3">
                <%= link_to "商品一覧", admin_items_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark'  %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "注文履歴一覧", admin_orders_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
              <% else %>
                <li class="nav-item mr-3">
                  <%= link_to 'About', about_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to '商品一覧', items_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to '新規登録', new_customer_registration_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                </li>
                <li class="nav-item mr-3">
                  <%= link_to 'ログイン', new_customer_session_path, class: 'btn btn-sm btn-outline-secondary nav-link text-dark' %>
                <li class="nav-item mr-3">
              <% end %>
            </ul>
          </div>
          <div class="float-right mt-3">
            <%= render 'searches/form' %>
          </div>
        </div>
      </nav>
    </div>
  </nav>
</header>
